@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff9f5;
  --foreground: #090b0e;
  --green: #54af48;
  --grey: #546881;
  --grey-active: #3d4c5e;
  --grey-dark-active: #090b0e;
  --grey-lighter: #b2bbc6;
  --grey-light-active: #909dad;
  --light-alt: #fefefe;
  --light-secondary: #eee;
  --orange-50: #fff9f5;
  --red: #e20000;
  --red-active: #b50000;
  --red-light: #fce6e6;
  --red-light-active: #f6b0b0;
  --red-light-hover: #fbd9d9;
  --secondary: #fff8f0;
  --white: #ffffff;
  --white-active: #ebeef2;
  --white-dark: #f6f8f9;
  --white-hover: #f2f4f7;
  --white-normal: #f9fafb;
  --white-alt-active: #f5f7f9;
  --white-alt-hover: #fcfdfd;
  --white-light-active: #f0f3f6;
  --yellow: #fec031;
  --yellow-400: #fdc030;
  --yellow-500: #f79c08;
  --yellow-600: #d97207;
  --yellow-active: #cb9a27;
  --yellow-hover: #e5ad2c;
  --yellow-light: #fff9ea;
  --yellow-light-active: #ffebbf;

  --tw-bg-selected: var(--yellow);
}

body {
  @apply text-base;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Full calendar */
.fc table {
  @apply !border-[#EBEEF2];
}

.fc table.fc-scrollgrid {
  @apply border-x-0 border-b-0 !border-t-3 !border-t-light-secondary;
}

.fc .fc-toolbar.fc-header-toolbar {
  @apply m-0;
}

.fc-toolbar > .fc-toolbar-chunk:first-child {
  @apply flex items-center;
}

.fc-toolbar-chunk > .fc-button-group > button {
  @apply px-[18px] py-[8px] bg-white hover:bg-white;
  @apply rounded-[8px] border-white-active hover:border-yellow-600;
  @apply text-grey-lighter hover:text-grey-lighter;
  @apply focus:!border-white-active focus:!bg-white focus:!text-grey-lighter focus:!ring-2 focus:!ring-current;
}

.fc-toolbar-chunk > .fc-button-group > button.fc-button-active {
  @apply px-[18px] py-[8px] !bg-white hover:bg-white;
  @apply rounded-[8px] !border-yellow-500 hover:!border-yellow-600;
  @apply !text-yellow-500 hover:!text-yellow-500;
  @apply focus:!border-yellow-500 focus:!bg-white focus:!text-yellow-500 focus:!ring-2 focus:!ring-current;
}

.fc-toolbar-title {
  @apply min-w-[140px] py-[8px] px-[16px] !text-base;
}

.fc-button-primary.fc-prev-button,
.fc-button-primary.fc-next-button {
  @apply !p-0 bg-white border-none hover:bg-white focus:!bg-white focus:!ring-2 focus:!ring-current;
}

.fc .fc-button-group {
  @apply !m-0 px-[16px] py-[8px] gap-[6px];
}

.fc-button-group > .fc-button {
  @apply !rounded-[8px];
}

.fc-icon {
  color: #b2bbc6;
}

/* .fc th .fc-col-header-cell {
  @apply border-b-0;
} */

.fc th .fc-scrollgrid-sync-inner {
  @apply px-[16px] py-[8px] !text-start !text-base font-semibold;
}

.fc th .fc-scrollgrid-sync-inner a {
  @apply p-0;
}

.fc .fc-h-event .fc-event-main-frame {
  @apply pl-[8px] rounded-l-[5px] border-l-[4px] border-grey-lighter;
}

.fc .fc-timegrid-divider {
  @apply p-0;
}

.fc .fc-timegrid-slot-minor {
  @apply border-t-0;
}

.fc-theme-standard td, .fc-theme-standard th {
  @apply border-white-active;
}

@layer components {
  /* Scrollbar */
  ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--white-normal);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--yellow);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--yellow-hover);
  }

  /* Next UI datepicker */
  [data-slot="calendar"] tbody[data-slot="grid-body"] {
    background: var(--white);
  }

  [data-slot="calendar"]
    td[data-slot="cell"]
    > span:not([data-selected="true"], [data-disabled="true"]):hover {
    color: var(--grey-dark-active);
    background: var(--yellow-light-active);
  }

  [data-slot="calendar"] td[data-slot="cell"] span[data-selected="true"] {
    color: var(--white);
    background: var(--yellow);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
